/* NavBar.module.css */
.hoverRectangle {
    animation: hoverAnimation 0.3s ease-in-out;
}

@keyframes hoverAnimation {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}
